:root {
    --primary: #FFFFFF;
    --secondary: #FDFDCB;
    --accent: #F9DC5C;
    --pri-text: #000000;
    --validat-text: #1F9301;
    --error-text: #FF0000;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--pri-text);
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3 {
    text-decoration-line: underline;
}

h1, h2 {
    letter-spacing: 0.25em;
}

h3, h4 {
    letter-spacing: 0.2em;
}

h5, h6 {
    letter-spacing: 0.15em;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 36px;
}

h5 {
    font-size: 32px;
}

h6 {
    font-size: 24px;
}

p {
    color: var(--pri-text);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary);
}

header {
    width: 100%;
    height: 325px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary);
}

.logo {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.brand-lines {
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.thin-line {
    height: 100%;
    width: 20px;
    background-color: var(--accent);
}

.thicker-line {
    height: 100%;
    width: 60px;
    background-color: var(--accent);
}

nav {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

nav a img {
    width: 64px;
    height: 64px;
    object-fit: cover;
}

footer {
    width: 100%;
    height: 525px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    background-color: var(--secondary);
}

main {
    width: 100%;
    height: auto;
    margin: 100px 0px;
}

// Homepage specific styles //

.carousel {
    width: 100%;
    margin: 50px auto;
}

.carousel h2 {
    text-align: center;
    margin-bottom: 20px;
}

.carousel-container {
    display: flex;
    gap: 20px;
}

.carousel-container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel-button {
    background-color: transparent;
    cursor: pointer;
}

.carousel-button-left {
    transform: rotate(90deg);
}

.carousel-button-right {
    transform: rotate(-90deg);
}

.products h3 {
    text-align: center;
    margin-bottom: 20px;
}

.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 70px 48px;
}

.product-card {
    overflow: hidden;
    border-radius: 30px;
}

.product-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px 30px 0px 0px;
    display: block;
}

.product-card-info {
    background-color: var(--secondary);
    padding: 20px;
    text-align: center;
}